body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 6%;
  margin-top: 5%;
}

h1:hover{
  color:rgb(244, 10, 33);
}
h3 {
text-decoration: underline;
color: rgb(240, 102, 3);
}
.avatar {
  display: flex;
  justify-content: center;

}

span{
  color: rgba(87, 7, 235, 0.747);
}

.card {
  width: 95%;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  text-align: right;
  background: #f5f3f1;
  color: #071c06;
  border-bottom: 6px solid #3f12a7;
  border-top: 2px solid rgb(54, 10, 211);
  border-radius: 6px;
      
}

.history{
  margin-left: 10%;
  margin-top: 100px;
}
P {
  padding-right: 5%;
}
.para{
padding-right: 20%;
}
.border-blue {
    border: 1px dotted rgb(153, 240, 14);
}
.Parent{
  width: 100%;
  /* border: 2px solid black; */
  /* height: 1000px;
  width: 1000px; */
  display: flex;
  gap: 20px;

}
.c1{
  border: 2px solid rgb(12, 12, 12);
  height: 300px;
  width: 1000px;
  /* margin-left: 10%; */
  border-radius: 15px;
}
img{
  width: 100%;
  border-radius: 10px;

}
h2{
  text-align: center;
}